*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

header{
	height:70px;
	background-color:#ec715f;

	}
nav{
	width:1024px;
	height:70px;
	margin: 0 auto;
}
.header-logo{
	height:70px;
	float:left;
}
.nav-list-item{
	list-style:none+;
	padding:0 30px;
	display:inline-block;
	float:left;
	line-height:70px;
	color:white;

}



.main-visual{
	height:650px;
	width:100%;
	background-image:url(img/mv.png);
	background-position: center;
	background-size:cover;
	color:white;
}
.main-visual-box{
	padding-top:200px;
	text-align:center;

}
.main-visual-text1{
	font-size:64px;
	color:#fafafa;
	padding-bottom:10px;
}
.main-visual-text2{
	font-size:20px;
	color:#fafafa;
}





.portfolio{
	background-color:#eceff1;
	padding-top:90px;
	padding-bottom:90px;
	}
.portfolio-image{
	text-align:center;
}
.portforio-box{
	width:920px;
	margin:0 auto;
	
}
.contents-title{
	font-size:32px;
	color:black;
	text-align:center;
	padding-bottom:8px;
	border-bottom:3px solid #ec715f;
}
.text{
	font-size:16px;
	color:black;
	text-align:center;
	padding:30px 0;
}
.portfolio-image-all{
	height:250px;
	width:300px;
	background-position:center;
	background-size:cover;
	float:left;
}
.portfolio-image1{
	background-image: url(img/sketch.jpg);
	margin-right:10px;
}
.portfolio-image2{
	background-image: url(img/websuku.png);
	margin-right:10px;
}
.portfolio-image3{
	background-image: url(img/write.jpg);

}
.portfolio-image4{
	background-image: url(img/webcamp.png);
	margin-right:10px;
	margin-top:10px;
}
.portfolio-image5{
	background-image: url(img/talk.jpg);
	margin-right:10px;
	margin-top:10px;
}
.portfolio-image6{
	background-image: url(img/webcamp-mother.png);
	margin-top:10px;
}




.section-box{
    margin:0 auto;
}

.Feature{
	width:980px;
	padding:90px 0;
	margin:0 auto;
	
}
.feature-section{
	width:320px;
	margin-right:10px;
	float:left;
}
.feature-section:last-child{
	margin-right:0;
}
.feature-strength{
	margin:10px 0;
}
.fas{
	font-size:60px;
	}
.social{
	text-align:center;
}





.profile{
	background-color:#eceff1;
	padding:90px 0;
}
.profile-box{
	width:1024px;
	margin:0 auto;
}
.nice-guy-pic{
	height:250px;
	width:250px;
	border-radius:50%;
	
 }
 .profile-introbox{
 	width:512px;
 	float:left;
 }
.profile-pic-box{
	width:512px;
	text-align:center;
	float:left;
	
}
.my-name{
	margin:30px 0 20px 0 ;
	padding-bottom:5px;
}
.my-skills{
	padding-bottom:5px;
}
.profile-introbox h3{
	font-size:20px;
}
.profile-introtext{
	font-size:16px;
	color:black;
}