*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.clear-fix{
	content:"";
	display:block;
	clear:both;
}

header{
	height:70px;
	background-color:#ec715f;

	}
nav{
	width:1024px;
	height:70px;
	margin: 0 auto;
}
.header-logo{
	height:70px;
	float:left;
}
.nav-list-item{
	list-style:none+;
	padding:0 30px;
	display:inline-block;
	float:left;
	line-height:70px;
	color:white;

}


.main-visual{
	height:650px;
	width:100%;
	background-image:url(img/mv.png);
	background-position: center;
	background-size:cover;
	color:white;
}
.main-visual-box{
	padding-top:200px;
	text-align:center;

}
.main-visual-text1{
	font-size:64px;
	color:#fafafa;
	padding-bottom:10px;
}
.main-visual-text2{
	font-size:20px;
	color:#fafafa;
}





.portfolio{
	background-color:#eceff1;
	padding-top:90px;
}
.portfolio-image{
	text-align:center;
}
.portfolio-box{
	width:920px;
	margin:0 auto;
}
.portfolio-headline{
	font-size:32px;
	color:black;
	text-align:center;
	padding-bottom:8px;
	border-bottom:3px solid #ec715f;
	}
.portfolio-text{
	font-size:16px;
	color:black;
	text-align:center;
	padding:30px 0;
}
.portfolio-image-all{
	height:250px;
	width:300px;
	background-position:center;
	background-size:cover;
	float:left;
}
.portfolio-image1{
	background-image: url(img/sketch.jpg);
	margin-right:10px;
}
.portfolio-image2{
	background-image: url(img/websuku.png);
	margin-right:10px;
}
.portfolio-image3{
	background-image: url(img/write.jpg);

}
.portfolio-image4{
	background-image: url(img/webcamp.png);
	margin-right:10px;
}
.portfolio-image5{
	background-image: url(img/talk.jpg);
	margin-right:10px;
}
.portfolio-image6{
	background-image: url(img/webcamp-mother.png);
}



